/*
$title-color:#303030;
$primary-color:#3399FF; //基础颜色
$primary-color-light:#8EDB8C; //基础颜色高亮
$error-color:#E34545;
$error-color-light:#FF9E9E;
$normal-color-light:#556074; //正常字体颜色高亮
$normal-color-dark:#818181; //正常字体颜色禁用
$normal-color-disabled:#BDBDBD; //正常字体颜色禁用
$memo-color:#BB844F;
$memo-color-light:#BABEC6;
$price-color:#FF7431; //价格字体颜色
// $pageBgColor: #EFF1F3; //页面背景颜色
$input-border-color:#E5E5E5; //input边框颜色
$shadow-color: #F5F5F5; //阴影颜色
$close-color: #727D92; //关闭按钮颜色
$second-button-color-start:#FF8D2B;
$second-button-color-end:#FF4944;
*/
$bgcolor: #F0EFF5; //背景颜色
$normal-color:#394043; //正常字体颜色
$primary-button-color-start:rgb(11,100,269);
$primary-button-color-end:rgb(61,151,255);
//基础变量
$font-hg:16px;
$font-lg:15px;
$font-md:14px;
$font-sm:13px;
$font-tn:12px;
$mg-hg:20px;
$mg-lg:16px;
$mg-md:10px;
$mg-sm:6px;
$mg-tn:2px;
$pd-hg:20px;
$pd-lg:16px;
$pd-md:10px;
$pd-sm:6px;
$pd-tn:2px;
//设计规范颜色
$primary-color:#3399FF; //大面积使用，用于特别需要强调Icon、文字超链
$emphasize-color:#7a7e83; //小面积使用，用于特别需要强调和突出的文字
$warning-color:#F86365; //小面积使用，用于警示性突出的文字
$title-color: #303030; //用于重要级文字信息，标题文字
$description-color:#999999; //用于辅助、次要的文字信息
$description-color-light:#CCCCCC; //用于弱文字信息的辅助文字信息
$divider-color:#E5E5E5; //用于分割线
$bg-color: #F0EFF5; //用于底色
$white-color: #FFFFFF; //白色
$price-color:#FF7431; //价格字体颜色
